.btn {
    display: flexbox;
    box-sizing: border-box;
    padding: 15px 54px ;
    background-color: #FB565A;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
body{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto',Arial sans-serif;
}
.header-nav{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 1160px;
    margin: 0 auto;
}
.main-header{
    background-color: #eeeeee;
    padding-top: 50px;
}
.header-logo{
    width: 160px;
    height: 65px;
}
img{
    width: 100%;
    height: auto;

}
.main-nav_list{
    width: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item a,.basket a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
}
.basket{
    display: flex;
    align-items: center;
}
.header-slider{
    display: flex;
}
.slider-description{
    width: 415px;
    padding-top: 72px;
}
.slider-description h3{
    font-size: 55px;
    line-height: 55px;
    padding-top: 0px;
    margin-top: 0px;
}
.slider-description p{
    font-size: 16px;
    margin-bottom: 40px;
}
.slider-img{
    display: flex;
}
.nav-item a:hover{
    opacity: 0.8;
}
.skills-list{
    display: flex;
    justify-content: space-between;
}
.skills-list__item{
    width: 300px;
}
.skills-h3{
    font-size: 24px;
    text-transform: uppercase;
}
.skills-p,.about-us-desc{
    font-size: 16px;
    color: #283136;
    margin-bottom: 35px;
}
.about-us-desc{
    font-weight: 500;
}
.skills,.studio,.partners{
    padding-top: 80px;
    padding-bottom: 95px;
    border-bottom: 2px solid #eee;
}
.green{
    background-color: #00ca74;
}
.orange{
    background-color: #efc84a;
}
.about-us{
    display: flex;
    justify-content: space-between;
}
.about-us-left{
    width: 660px;
}
.about-us-left h1{
    font-size: 45px;
    font-weight: 500;
    margin: 0;
}
.about-us-left h3{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.about-us-left li{
    font-size: 16px;
    font-weight: 500;
    color: #283136;
    margin-bottom: 30px;
    position: relative;
}
.about-us-left ul{
    margin-top: 35px;
    padding-left: 65px;
}
.about-us-left li::before{
    position: absolute;
    content: "";
    height: 2px;
    width: 25px;
    background-color: #FB565A;
    left: -65px;
    top :7px;
}
.about-us-right{
    width: 360px;
}
.about-us-right h3{
    text-align: center;
    font-size: 16px;
    display: block;
    margin-top: 39px;
    margin-bottom: 39px;
}
.pref-list{
    display: flex;
    justify-content: space-between;
}
.pref-list b{
    font-size: 45px;
    display: block;
    margin-bottom: 13px;
}
.pref-list span{
    font-size: 16px;
    color: #283136;
}
.pref-list li{
    width: 110px;
}
.phartners-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0.2;
}
.partners{
    padding:45px 0;
    margin-bottom: 80px;
}
.contacts{
    position: relative;
    min-height: 415px;
    background-image: url(img/map.jpg);
    padding-top: 45px;
}
.map-marker {
    position: absolute;
    width: 230px;
    right: 300px;
    top: 100px;
}
.myachik{
    position: relative;
}
.contacts-wrap{
    width: 320px;
    min-height: 308px;
    background-color: #fff;
    padding: 50px;
    box-sizing: border-box;

}
.c-btn{
    padding: 15px 45px;
}
.addres{
    font-size: 16px;
    color: #666;
    margin: 30px 0;
    margin-bottom: 45px;
}
.tel{
    display: block;
    padding-top: 20px;
}
footer{
    display: flex;
    justify-content: center;
}
.social-media ul{
    display: flex;
}
.social-media a{
    background-color: #e1e1e1;
    height: 80px;
    height: 80px;
    border-radius: 50%;
}